@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=sawp');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000;
    letter-spacing: 1.5px;
    align-items: center;
    transition: .6s;
    z-index: 100000;
}

nav.sticky {
    padding: 0 60px;
    background: #0005;
}

.logo {
    font-size: 35px;
    letter-spacing: 2px;
    display: inline-block;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin: 0 15px;
}

.nav a:hover {
    color: rgb(255, 255, 255);
}

.menu-nav {
    position: relative;
    list-style-type: none;
}

.menu-nav li {
    text-align: center;
    margin: 15px auto;
}

.item a {
    padding: 8px;
}

.item.now a {
    background-color: #fff;
    border-radius: 50px;
    color: #000;
}

.icon {
    font-size: 30px;
    float: right;
    top: 5px;
    right: 20px;
    position: absolute;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    margin: auto;
}

.active,
.item {
    display: block !important;
}

.menu-nav,
.item {
    display: none;
}

.title {
    margin-top: 60px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}


/* Section General */


/* Section - Formulario */

form {
    border: #000000 solid;
    padding: 20px;
    margin: 5px;
}

.ti-form {
    text-transform: uppercase;
    text-decoration: underline;
}

.box-form {
    margin: 10px 20px 10px 0;
}

.box-form label {
    padding-right: 20px;
}

input#Nombre,
#Apellido,
#Direccion,
#Password,
#Email {
    width: 100%;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
}

input[type="submit"] {
    padding: 0 10px;
}


/* Footer */

footer {
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    background: #000000e5;
}

footer p {
    color: #fff;
}

.icon-social {
    margin-bottom: 10px;
}

.icon-social a {
    color: #fff;
    margin: 0 15px;
    font-size: 20px
}


/* Escritorio  */

@media (min-width:768px) {
    .marg-int {
        margin: 0 30px;
    }
    .nav {
        display: flex;
        padding: 10px;
    }
    .center {
        display: flex;
        justify-content: center;
    }
    .nav a {
        margin: 0 0 0 10px;
    }
    .menu-nav {
        margin: 0 0 0 80px;
    }
    .menu-nav,
    .item {
        display: flex;
    }
    .icon {
        display: none;
    }
    .title {
        margin-top: 100px;
    }
    nav.sticky {
        padding: 5px 60px;
    }
}